# Contracts
DEFAULT_NETWORK=hardhat
ETHEREUM_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
REPORT_GAS=false
COINMARKETCAP_API_KEY=
ETHERSCAN_API_KEY=

# Web App
NEXT_PUBLIC_DEFAULT_NETWORK=localhost
NEXT_PUBLIC_INFURA_API_KEY=dummy
NEXT_PUBLIC_SEMAPHORE_CONTRACT_ADDRESS=0xa513E6E4b8f2a923D98304ec87F64353C4D5C853
NEXT_PUBLIC_COMPLAINT_CONTRACT_ADDRESS=0x2279B7A0a67DB372996a5FaB50D91eAA73d2eBe6
NEXT_PUBLIC_GROUP_ID=1
DATABASE_URL=file:./prisma/dev.db
